@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.modal {
  background-color: #494949;
  border: 0 solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 500px;
}

.modal__container {
  padding: 50px;
}

.modal__bandeira {
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal__bandeira img {
  align-items: center;
  justify-content: center;
}

.modal__header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: left;
  margin-top: 30px;
}

.modal__titulo {
  color: #ffffff;
  font-size: 40px;
}

.modal__subtitulo {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.modal__formulario {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.formulario__inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario__input {
  background-color: #ffffff;
  border: 1px solid #9e9e9e;
  border-radius: 8px;
  color: #212121;
  font-size: 16px;
  font-weight: 600;
  height: 45px;
  padding-left: 25px;
  width: 350px;
}

.formulario__checkbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.formulario__checkbox__input {
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #9e9e9e;
  border-radius: 6px;
  height: 32px;
  width: 32px;
}

.formulario__checkbox__label {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.modal__botao {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.botao {
  appearance: none;
  background-color: #009246;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  height: 60px;
  width: 180px;
}