body {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  margin: auto 0;
}

.modal {
  background-color: #494949;
  border: 0 solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 500px;
}

.modal__container {
  padding: 50px;
}

.modal__header {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

h1 {
  font-size: 40px;
  margin: 0px;
}

.modal__titulo {
  color: #ffffff;
}

h2 {
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.modal__subtitulo {
  color: #ffffff;
}

.modal__formulario {
  display: flex;
  flex-direction: column;
}

.formulario__inputs {
  margin-top: 20px;
}

.formulario__input {
  background-color: #ffffff;
  border: 1px solid #9e9e9e;
  border-radius: 8px;
  color: #212121;
  font-size: 16px;
  font-weight: 600;
  height: 45px;
  margin-top: 15px;
  padding-left: 25px;
  width: 350px;
}

.formulario__checkbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.formulario__checkbox__input {
  appearance: none;
  background-color: #FFFFFF;
  border: 1px solid #9E9E9E;
  border-radius: 6px;
  height: 32px;
  width: 32px;
}

.formulario__checkbox__label {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.modal__botao {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.botao {
  appearance: none;
  background-color: #009246;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  height: 60px;
  width: 180px;
}